<div class="container-fluid">
    <div class="row question-row">
        <div class="mob-left-list" (click)="showLists();"></div>
        <div class="col-md-3 left-list">
            <app-user-side-menu></app-user-side-menu>
        </div>

        <div class="col-md-9 content-sec offset-md-3">
            <div class="col-md-10 offset-md-1">
                <h2 class="user-heading">Edit User</h2>
                <span class="field_mandate" style="color: #F00">*</span><span class="field_mandatory"> All fields are mandatory</span>
                <div class="marg-left col-md-10 m-auto">
                <form class="all-fields row" #f="ngForm" (submit)="f.valid ? getUsers(userManagementService.resetPasswordDetails.selectedRoleId):''">
                    <div class="selection-fields col-md-6">
                        <label for="usr">User Role<span style="color:red; font-weight:500;">*</span> :</label>
                        <mat-form-field>
                                <mat-select [(ngModel)]="userManagementService.resetPasswordDetails.selectedRoleId" name="role" (selectionChange)="getUsers(userManagementService.resetPasswordDetails.selectedRoleId)" required>
                                    <mat-option *ngFor="let opt of userManagementService.formFieldsAll" [value]="opt.id">
                                        {{opt.roleName}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>Please provide user role</mat-error>
                        </mat-form-field>
                    </div>
                    
                </form>

                <div class="user-details-tbl" *ngIf="userManagementService.resetPasswordDetails.allUser && userManagementService.resetPasswordDetails.allUser.length">
                    <h2 class=""></h2>
                    <div class="table-btn search">
                    <div class="col-md-3 form-group">
                        <input class="form-control" type="text" id="myInput" [(ngModel)]="searchFilter" placeholder="Search"
                          maxlength="100" />
                        <span *ngIf="searchFilter" class="search-close" (click)="clearSearchText();">
                          <!-- <i class="fa fa-times-circle" style="font-size:22px;" aria-hidden="true"></i>  -->
                        </span>
                      </div>
                      </div>
                    <table id="user-history" class="table table-bordered" cellspacing="0" width="100%" style="text-align: center;">
                        <thead>
                            <tr>
                                <th class="t-heading">Sl. No.</th>
                                <th class="t-heading">Username</th>
                                <th class="t-heading">Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let tbl of userManagementService.resetPasswordDetails.allUser | searchPipe: searchFilter| paginate: {itemsPerPage: itemsPerPage, currentPage: p}; let i=index">
                                <td>{{(i + 1) + (p - 1) * itemsPerPage }}</td>
                                <td>{{tbl.userName}}</td>
                                <td>
                                    <button type="button" class="btn reset-pass-btn"
                                        (click)="resetModal(tbl)">Reset Password</button>
                                    <button *ngIf="tbl.live" type="button" id="disable" class="btn reset-pass-btn"
                                        (click)="disableUser(tbl.userId)">Disable</button>
                                    <button *ngIf="!tbl.live" type="button" id="enable" class="btn reset-pass-btn"
                                        (click)="enableUser(tbl.userId)">Enable</button>
                                    <!-- <button type="button" class="btn reset-pass-btn"
                                        (click)="editUserDetails(tbl)">Edit User</button> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-md-12 pagination-margin"
                    *ngIf="(userManagementService.resetPasswordDetails.allUser && userManagementService.resetPasswordDetails.allUser.length && (userManagementService.resetPasswordDetails.allUser | searchPipe: searchFilter).length)">
                    <pagination-controls (pageChange)="p = $event;" class="pagination"></pagination-controls>
        </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="resetPassModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-notify modal-error" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <p class="heading lead">Reset Password</p>
                </div>

                <!--Body-->
                <div class="modal-body">
                    <div class="col-md-12 select-container">
                        <form [noValidate]="false" #newF="ngForm" (submit)="newF.valid ?submitModal(newF):''" novalidate>  
                            <div class="row">
                                <div class="col login-pwd">
                                    <label for="usr">New Password<span style="color:red; font-weight:500;">*</span> :</label>
                                    <mat-form-field>
                                        <input matInput [(ngModel)]="newPassword" name='pass' required pattern="^\S*$">
                                        <mat-error class="padding-bottom ">
                                            {{newF.controls['pass']?.errors?.pattern ? 'Spaces are not accepted':'Please provide new password'}}                               
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col login-pwd">
                                    <label for="pwd">Confirm Password<span style="color:red; font-weight:500;">*</span> :</label>
                                    <mat-form-field>
                                        <input matInput type="password" name="confirmpass" [(ngModel)]="confirmPassword"required>
                                    </mat-form-field>
                                    <div *ngIf="confirmPassword && confirmPassword != newPassword" class="material-error">The New password and Confirm password do not match.</div>
                                </div>
                            </div>
                            <div class="form-group row">

                                <div class="text-center col">
                                    <button type="button" class="btn modal-cancel" data-dismiss="modal" (click)="resetBox(user); newF.resetForm()">Cancel</button>
                                    <button type="submit" class="btn modal-btn" style="margin-left: 10px;">Submit</button>                                    
                                </div>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>

    <div class="modal fade" id="successMatch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-notify modal-error" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header">
                        <p class="heading lead">Success</p>
                    </div>
    
                    <!--Body-->
                    <div class="modal-body">
                        <div class="text-center">
                            <p>Password has been successfully reset.</p>
                        </div>
                        <button type="button" class="btn btn-secondary m-auto d-block modal-btn" data-dismiss="modal">Ok</button>
                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>

    <div class="modal fade" id="enableUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-notify modal-error" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <p class="heading lead">Success</p>
                </div>

                <!--Body-->
                <div class="modal-body">
                    <div class="text-center">
                        <p>{{validationMsg}}</p>
                    </div>
                    <button type="button" class="btn btn-secondary m-auto d-block modal-btn" data-dismiss="modal" (click)="userStatus()">Ok</button>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>

    <div id="disableUserModal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-notify modal-error" role="document">
          <div class="modal-content">
                <div class="modal-header">
                    <p class="heading lead">INFO</p>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <p>Are you sure you want to disable?</p>  
                        <button type="button" class="btn btn-secondary m-auto modal-btn" (click)="disableUserDetails(disableUserId)" style="margin-right:5px !important;">Yes</button>
                        <button type="button" class="btn btn-secondary m-auto modal-btn" data-dismiss="modal">No</button>
                    </div>                   
                </div>          
          </div>
        </div>
      </div>

      <div id="enableUserModal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-notify modal-error" role="document">
          <div class="modal-content">
                <div class="modal-header">
                    <p class="heading lead">INFO</p>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <p>Are you sure you want to enable?</p>  
                        <button type="button" class="btn btn-secondary m-auto modal-btn" (click)="enableUserDetails(enableUserId)" style="margin-right:5px !important;">Yes</button>
                        <button type="button" class="btn btn-secondary m-auto modal-btn" data-dismiss="modal">No</button>
                    </div>                   
                </div>          
          </div>
        </div>
      </div>