.content-sec {
  padding-top: 15px;
  margin-left: 18%;
}

.waves-light, .waves-light:hover, .waves-light:focus{
    background-color: #1f497b !important;
  }
  .user-label{
    max-width: 18.666667% !important;
  }
  // .data-error, .modal .err-btn {
  //   background-color: #af1926 !important;
  // }
  .left-list {
    height: 100%;
    width: 30%;
    // background-color: #2f515b;
    background-color: #21353a;
    padding-top: 80px;
    padding-right: 0;
    position: absolute;
    right: 1012px;
}

.marg-left{
  left: 85px;
}
span.field_mandatory{
  font-size: 11px !important;
}

.pagination{
  float: right;
  margin-top: 20px;
 }

.user-heading {
  font-size: 1.75em;
  font-weight: 500;
  text-align: left;
  // border-bottom: 1px solid #1f4a7c;
  // color: #2f515b;
  margin-bottom: 20px;
  padding-bottom: 7px;
  width: 121%;
}
.selection-fields{
  left: 100px;
}
.table-btn.search .form-group{
  position: relative;
  margin-bottom: 0px !important; 
  padding-right: 6px;
  float: right;
  bottom: 10px;
}
.table-btn.search .form-group:before {
  position: absolute;
  font-family: 'FontAwesome';
  top: 5px;
  right: 25px;
  color: #9c9c9c;
  content: "\f002";
}

.btn.user-submit {
  background-color: #2f515b;
  border-radius: 0;
  width: 120px;
  color: #FFF;
}
/** media query starts here **/

@media screen and (min-width: 1920px){

  .left-list {
    height: 100%;
    width: 30%;
    background-color: #21353a;
    padding-top: 80px;
    padding-right: 0;
    position: absolute;
    left: 0px;
}
.content-sec {
  padding-top: 25px;
}
.marg-left{
  left: 148px;
}
 }

 @media screen and (min-width: 1680px){

  .left-list {
    height: 100%;
    width: 30%;
    background-color: #21353a;
    padding-top: 80px;
    padding-right: 0;
    position: absolute;
    left: 0px;
}
.content-sec {
  padding-top: 25px;
  margin-left: 37%;
}
.marg-left{
  left: 256px;
}
 }

@media screen and (min-width: 1440px){

  .left-list {
    height: 100%;
    width: 30%;
    background-color: #21353a;
    padding-top: 80px;
    padding-right: 0;
    position: absolute;
    right: 1080px;
}

.content-sec {
  padding-top: 15px;
  margin-left: 18%;
}

}

@media screen and (max-width: 1280px){
  .left-list {
    height: 100%;
    width: 30%;
    background-color: #21353a;
    padding-top: 80px;
    padding-right: 0;
    position: absolute;
    right: 952px;
}
 }



@media screen and (max-width: 1200px){

  .left-list {
    height: 100%;
    width: 30%;
    // background-color: #2f515b;
    background-color: #21353a;
    padding-top: 80px;
    padding-right: 0;
    position: absolute;
    right: 900px;
}

}

@media screen and (max-width: 1024px){
  .left-list{
    right: 768px;
  }
}

@media screen and (max-width: 991px){
  .left-list{
    right: 758px;
  }
}

@media screen and (max-width: 768px){
  .left-list{
    right: 591px;
  }
  .content-sec {
    padding-top: 15px;
    margin-left: 16%;
  }
}

// @media(max-width: 767px){
//   .left-list{
//     width: 50%;
//     z-index: 1000;
//     padding-top: 40px;
//   }
//   .mt-btn{
//     text-align: center !important;
//   }
// }
#resetPassModal .modal-header, #successMatch .modal-header, #disableUserModal .modal-header, #enableUser .modal-header{
  height: 39px;
  padding: 3px 14px;
}
.no-user {
  text-align: center;
  font-weight: bold;
  color: #F00;
  margin-top: 30px;
}
.material-error{
  color: #f44336;
  font-size: 75%;
  margin-top: -12px;
  margin-bottom: 12px;
  font-weight: 400;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}
p.heading.lead {
  font-weight: bold;
  color: #2f515b;
}
.modal-btn {
  border-radius: 0;
  color: #FFF;
  background-color: #2f515b;
}
.modal-cancel{
  border-radius: 0;
  color: #FFF;
  // background-color: #5884c3;
  background-color: #2f515b;
}
.reset-pass-btn{
  border-radius: 0;
  color: #FFF;
  background-color: #2f515b;
  border: 1px solid;
  margin-right: 5px;
  font-size:13px;
}
@media screen and (max-width: 768px){
  .content-sec{
    padding-top: 14px;
    margin-left: 0%;
  }
  .user-heading{
    font-size: 1.75em;
    font-weight: 500;
    text-align: left;
    // border-bottom: 1px solid #333;
    // color: #333;
    margin-bottom: 20px;
    padding-bottom: 7px;
    width: 100%;
  }
  .marg-left{
    left: 0px;
  }
  .selection-fields{
    left: 100px;
  }
}
@media screen and (max-width: 480px){
  .selection-fields{
    left: 70px;
  }
}
@media screen and (max-width: 360px){
  .selection-fields{
    left: 10px;
  }
}