<footer id="foot" class="footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 col-sm-6 copy-right">
			
				<p>© 2019 UNICEF. District Facility Gap analysis was done in collaboration with Directorate of Health Services,
					CG/National Health Mission, CG with Technical and design support from UNICEF.</p> 
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-9 footer-ul">
					<p>
						<a routerLink="/termOfUse">Terms of Use</a> | 
					<a class="copyright1" routerLink="/disclamer">Disclaimer</a> | <a routerLink="/privacyPolicy">Privacy
						Policy</a> | <a routerLink="/siteMap">Sitemap</a>
					</p>
					
				  </div>
			<div class="col-md-2 col-sm-2 social-all-links ">
				<div class="social text-right ">
						<p>
							<span class="footerfont">Powered by </span><a href="http://sdrc.co.in/" target="_blank" class="text_deco_none"><span class="poweredbysdrc">SDRC</span></a>
						</p>
				
				</div>
			</div>

		</div>
	</div>
</footer>
