
<div class="container-fluid">
    <div class="row question-row">
        <div class="mob-left-list" (click)="showLists();"></div>
        <div *ngIf="isAdmin" class="col-md-3 left-list">
            <app-user-side-menu></app-user-side-menu>
        </div>
        <div class="right-content">
        <div [ngClass]="(!isAdmin)?'col-md-12 content-sec-other offset-md-2':'col-md-9 content-sec offset-md-3'">
            <div class="col-md-12">
                <h2 class="user-heading">Change Password</h2>
                <span class="field_mandate" style="color: #F00">*</span><span class="field_mandatory"> All fields are mandatory</span>
                <div [ngClass]="(!isAdmin)?'marg-left-other col-md-10 m-auto':'marg-left col-md-10 m-auto'">
                <form class="all-fields row" #f="ngForm" autocomplete="off" (submit)="f.valid ?changePasswordForm(f):''">
                    
                    
                    <div class="selection-fields col-md-6 col-12">
                          <label for="usr">Username<span style="color:red; font-weight:500;">*</span> :</label>
                          <mat-form-field>
                              <input matInput name="username" [disabled]="userName" [(ngModel)]="userName" required pattern="^[a-z0-9_-]{3,15}$">                          
                          </mat-form-field>
                    </div>
                                    
                    <div class="selection-fields col-md-6">
                        <label for="usr">Current Password<span style="color:red; font-weight:500;">*</span> :</label>
                        <mat-form-field>
                            <input matInput type="password" name="pass" [(ngModel)]="password" required pattern="^\S*$">
                            <mat-error class="padding-bottom ">                               
                              {{f.controls['pass']?.errors?.pattern ? 'Spaces are not accepted':'Please provide current password'}}
                            </mat-error>
                        </mat-form-field>
                      </div>
                    
      
                      <div class="selection-fields col-md-6">
                          <label for="usr">New Password<span style="color:red; font-weight:500;">*</span> :</label>
                          <mat-form-field>
                              <input matInput type="password" name="newpass" [(ngModel)]="newPassword" required pattern="^\S*$">
                              <mat-error class="padding-bottom ">                               
                                {{f.controls['newpass']?.errors?.pattern ? 'Spaces are not accepted':'Please provide new password'}}
                              </mat-error>                          
                          </mat-form-field>
                          <div *ngIf="newPassword && newPassword == password" class="material-error">The New password should not be same as Current password.</div>
                      </div>                
                    
      
                      <div class="selection-fields col-md-6">
                          <label for="usr">Confirm New Password<span style="color:red; font-weight:500;">*</span> :</label>
                          <mat-form-field>
                              <input matInput type="password" name="confirmpass" [(ngModel)]="confirmPassword" required>
                              <mat-error class="padding-bottom ">                               
                                {{f.controls['confirmpass']?.errors?.pattern ? 'Spaces are not accepted':'Please provide confirm password'}}
                              </mat-error>                          
                          </mat-form-field>         
                          <div *ngIf="confirmPassword && confirmPassword != newPassword" class="material-error">The New password and Confirm password do not match.</div>            
                      </div>
  
  
                      <div class="form-group" [ngClass]="'col-md-12 mt-btn text-center'">
                          <button class="btn btn-default proceed-btn user-submit" type="submit">Submit</button>
                      </div>
  
                </form>
            </div>
            </div>
        </div>
     </div>
    </div>
  
    <div class="modal fade" id="successMatch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-notify modal-error" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <p class="heading lead">Success</p>
                </div>
  
                <!--Body-->
                <div class="modal-body">
                    <div class="text-center">
                        <p> {{validationMsg}}</p>
                    </div>
                    <button type="button" class="btn btn-secondary m-auto d-block modal-btn" (click)="successModal()">Ok</button>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
  
    <div class="modal fade" id="passNotMatch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-notify modal-error" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header data-error">
                    <p class="heading lead">Error</p>
                </div>
  
                <!--Body-->
                <div class="modal-body">
                    <div class="text-center">
                        <p>{{validationMsg}}</p>
                    </div>
                    <button type="button" class="btn btn-secondary m-auto d-block modal-btn" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>