<div class="container-fluid">
  <div class=" sitesection col-md-12 col-sm-12 col-xs-12 ">
          <div class="terms-margin"><h3>Sitemap</h3></div>
            <div style="margin-top: 20px;"></div>
            <ul class="siteMapData">
              <li>Home</li>
              <li>About Us</li>
               <li>Dashboard</li>
              <li>Data Tree</li>
              <li>Reports
                <ul  type="disc">
                <li>Summary Report</li>
                <li>Cross-Tab Report</li>
                <li>Raw Report</li>
                </ul>
              </li>
              <li>FIP</li>
              <li>DHAP</li>
              <li>User Management
                <ul  type="disc">
                <li>Create New User</li>
                <li>Edit User</li>
                <li>Change Password</li>
                </ul>
              </li>
              <li>LaQkhya
                <ul  type="disc">
                <li>Data Entry </li>
                <li>Report </li>
                </ul>
              </li>
              <li>Action Item Management
                <ul  type="disc">
                <li>Data Entry</li>
                <li>Report</li>
                </ul>
              </li>
              <li>Contact</li>
  
            </ul>
          </div>
          </div>
