

<div class="container-fluid content-section">
  <div class="row">
      <div class="col-md-12 heading-contact"><h3 class="head-info">Contact Us</h3></div>
      <div class="col-md-6" style="margin-bottom: 50px;">
    
        <h5>UNICEF Office for Chhattisgarh </h5>
        Katora Talab, Civil Lines,<br>
         Raipur, Chhattisgarh 492001, India <br><br>
         <b>Dr Ajay Trakroo</b><br>
        <b>Mail to: </b> <a href="mailto:atrakroo@unicef.org">atrakroo@unicef.org </a><br>
      </div>
      <div class="col-md-6 text-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14875.381216149184!2d81.6499434!3d21.2379821!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd8662716da34f504!2sUNICEF!5e0!3m2!1sen!2sin!4v1491405989522" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen=""></iframe>
      </div>
  </div>
</div>