<div class="container-fluid">
	<div class="sitesection col-md-12 col-sm-12 col-xs-12 ">

		<div class="">
			<h3>About DGA</h3>
		</div>
		<p class="termsdata">District Gap Analysis is a process which will largely focus on the assessment of the gaps
			of facilities in terms of availability, accessibility, utilization and quality of the Public health system.
			DGA can strengthen the primary level, community level and District level facilities to address the state its
			specific needs. DGA is proposed to understand the current scenario of the health system in terms of service
			availability and accessibility. The gap analysis enhances the coordination between state and the district
			and block level. It was carried out in Collaboration with Directorate of Health services, CG/National Health
			Mission with technical and design support from UNICEF, Raipur and powered by SDRC, Bhubaneswar.</p>


		<div class="blank-45"></div>

		<div class="terms-margin">
			<h3>Goal/Aim of DGA</h3>
		</div>
		<p class="termsdata">DGA can strengthen the primary level, community level and District level facilities to
			address the state its specific needs. DGA is proposed to understand the current scenario of the health
			system in terms of service availability and accessibility. The gap analysis enhances the coordination
			between state and the district and block level.</p>
		<div class="blank-45"></div>

		<div class="terms-margin">
			<h3>Purpose of DGA</h3>
		</div>
		<p class="termsdata">An effective gap analysis looks deeply at the standards, making sure to identify any
			changes in the intent, goals, and implications. This gap analysis mainly focuses on Delivery point and
			aspects or indicator which is related to labor room to improve maternal health and child survival. DGA
			provides a common understanding on the procedure and levels of assessment that state needs to undertake for
			better planning. A detailed gap analysis that is translated into local plans and budgets, there is a far
			greater likelihood of successfully implementing a resource re-allocation process to achieve the desired
			goal.</p>

	</div>
</div>