.container {
    // width: 943px !important;
    margin-left: 0px;
    margin-right: 0px !important;
}

.sitesection {
    margin-top: 25px;
    text-align: justify;
}
@media(max-width: 991px){
    .sitesection{
            margin-left: 0px;
    }
}