
<div id="mymain">
  <section id="homeslide">
    <div>
      <div>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="item carousel-item img-height active">
              <img src="./assets/images/DGAINDIA1.jpg" alt="DGA India"
                width="100%;">
            </div>
            <div class="item carousel-item img-height">
              <img src="./assets/images/DGAINDIA2.jpg"
                
              alt="DGA India" width="100%;">
            </div>
            <div class="item carousel-item img-height">
              <img src="./assets/images/DGAINDIA3.jpg" alt="DGA India"
                width="100%;">
            </div>

          </div>

<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
        </div>
      </div>
    </div>
  </section>
  <section class="important-logo" style="margin: 10px 0">
    <div class="container logos-container">
      <div class="row">
        <div class="col-md-3 text-center">
          <a href="https://cgstate.gov.in/" target="_blank"><img src="./assets/images/chhattisgarhGovt.png" alt="Chhatisgarh Logo"
                width="100%;" style="max-width: 120px;"></a>
        </div>
        <div class="col-md-3 text-center">
          <a href="http://unicef.in/" target="_blank"><img src="./assets/images/unicef.png" alt="Unicef_logo"
                width="100%;" style="max-width: 120px;"></a>
        </div>
        <div class="col-md-3 text-center">
          <a href="http://cghealth.nic.in/cghealth17/" target="_blank"><img src="./assets/images/cgHealth.png" alt="CGHealth Logo"
                width="100%;" style="max-width: 120px;"></a>
        </div>
        <div class="col-md-3 text-center">
          <a href="http://nhm.gov.in/" target="_blank"><img src="./assets/images/logo-nhm.png" alt="NHM Logo"
                width="100%;" style="max-width: 120px;"></a>
        </div>
      </div>
    </div>
  </section>
</div>
