<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>

<springProperty scope="context" name="logpath" source="log.dgacg.path"	defaultValue="/opt/dgacg/logs/"/>
<springProperty scope="context" name="logarchivedpath" source="log.dgacg.archived.path"	defaultValue="/opt/dgacg/logs/archived/"/>
<springProperty scope="context" name="mailtouser1" source="log.mail.user1"	defaultValue="harsh@sdrc.co.in"/>
<springProperty scope="context" name="mailtouser2" source="log.mail.user2"	defaultValue="rajanikanta@sdrc.co.in"/>
<springProperty scope="context" name="ACTIVE_PROFILE" source="spring.profiles.active" defaultValue="local"/>

<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
	
<statusListener class="ch.qos.logback.core.status.NopStatusListener" />

<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg%n</Pattern>
        </encoder>
</appender>        
<appender name="FILE-AUDIT"	class="ch.qos.logback.core.rolling.RollingFileAppender">
	<file>${logpath}dgacg.log</file>
	<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
		<Pattern>
			TIME- %d{dd-MM-yyyy HH:mm:ss.SSS}%n REQUEST DETAILS- %mdc%n MESSAGE- %msg%n
		</Pattern>
	</encoder>

	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${logarchivedpath}dgacg.%d{dd-MM-yyyy}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy	class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>1GB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
	</rollingPolicy>
	</appender>

	<appender name="EMAIL" class="ch.qos.logback.classic.net.SMTPAppender">
		<smtpHost>smtp.gmail.com</smtpHost>
		<STARTTLS>true</STARTTLS>
		<smtpPort>587</smtpPort>
		
		<from>techsupport@sdrc.co.in</from>
		<username>techsupport@sdrc.co.in</username>
		<password>pass@123</password>
		
		<to>${mailtouser1}</to>
		<to>${mailtouser2}</to>
		
		<subject>Exception Occurred in DGA CG-${ACTIVE_PROFILE}: %logger{20} </subject>
        <layout class="ch.qos.logback.classic.html.HTMLLayout"  />
        <!-- send just one log entry per email   -->
        <cyclicBufferTracker class="ch.qos.logback.core.spi.CyclicBufferTracker"> 
			<bufferSize>1</bufferSize> 
		</cyclicBufferTracker> 
		<!-- send only errror log entry to email  -->
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>error</level>
      	</filter>
	</appender>
	
		<logger name="org.sdrc.dga" level="warn" additivity="false">
		<appender-ref ref="FILE-AUDIT" />
		<appender-ref ref="EMAIL" /> 
		<appender-ref ref="CONSOLE"></appender-ref>
	</logger>
	
	<logger name="org.sdrc.dga" level="info" additivity="false">
		<appender-ref ref="FILE-AUDIT" />
		<appender-ref ref="CONSOLE"></appender-ref>
	</logger>

	<root level="error">
  			<appender-ref ref="EMAIL" /> 
	 		<appender-ref ref="FILE-AUDIT" />
	 	<appender-ref ref="CONSOLE"></appender-ref>
	</root>
	
	<root level="info">
	 	<appender-ref ref="FILE-AUDIT" />
	 	<appender-ref ref="CONSOLE"></appender-ref>
	</root> 

</configuration>
