<div class="container-fluid">
		<div class=" sitesection col-md-12 col-sm-12 col-xs-12 ">
			 <div><h3>Privacy Policy</h3>
			
			<p>This privacy policy sets out how DGA
						uses and protects any information that you give while you use this
						website.</p>
					<p>DGA is committed to ensuring that your
						privacy is protected. When we ask you to provide certain
						information by which you can be identified when using this
						website, then you can be assured that it will only be used in
						accordance with this privacy statement.</p>
					<p >DGA may change this policy from time to
						time by updating this page. You should check this page from time
						to time to ensure that you are happy with any changes.</p>
					<h3 >What we collect</h3>
					<p >While using our Site, we may ask you to
						provide us with certain Personal Information (information that can
						be used to contact or identify you) and Non-Personal Information.
					</p>
					<h3 >What we do with the information we gather</h3>
					<p >Except as otherwise stated in this privacy
						policy, we do not sell, trade, rent or otherwise share for
						marketing purposes your personal information with third parties
						without your consent. In general, the Personal Information you
						provide to us is used to help us communicate with you. For
						example, we use Personal Information to contact users in response
						to questions, solicit feedback from users, provide technical
						support, and inform users about promotional offers.</p>
					<h3 >Security</h3>
					<p >We are committed to ensuring that your
						information is secure. In order to prevent unauthorized access or
						disclosure, we have put in place suitable physical, electronic and
						managerial procedures to safeguard and secure the information we
						collect online.</p>
					<h3 >Why we use cookies</h3>
					<p >The site may use cookies to enhance user's
						experience. Cookies help us provide you with a better website, by
						enabling us to monitor which pages you find useful and which you
						do not. A cookie in no way gives us access to your computer or any
						information about you, other than the data you choose to share
						with us. The user may choose to set their web browser to refuse
						Cookies or alert the user when the Cookies are being sent.
						However, this may prevent you from taking full advantage of the
						website.</p>
					<h3 >Links to other websites</h3>
					<p >At many places in this website, you will
						find links to other websites/ portals. These links have been
						placed for your convenience. DGA has no control over the
						nature, content and availability of those sites. The inclusion of
						any links does not necessarily imply a recommendation or endorse
						the views expressed within them.</p>
					<h3 >Copyright Policy</h3>
					<p >This website and its content is copyright
						of UNICEF - © DGA UNICEF. All rights reserved. Any
						redistribution or reproduction of part or all of the contents in
						any form is prohibited other than the following:</p>
					<ul >
						<li>You may reproduce the content partially or fully, with
							duly and prominently acknowledging the source.</li>
					</ul>
					<p >However, the permission to reproduce any
						material that is copyright of any third party has to be obtained
						from the copyright holders concerned. The contents of this website
						cannot be used in any misleading or objectionable context or
						derogatory manner.</p>
						<br><br>&nbsp;<br><br><br>&nbsp;<br>
						
			
			 </div></div>
		
	</div>